*{
    margin: 0;
    padding: 0;
}
.flex-item {                  
    background-color: rgb(82, 82, 253);
    display: inline-flex;
    margin: 2px;
    transition: all 0.2s;
    box-sizing: border-box;
}
.flex-item:hover{
    background-color: rgb(67, 67, 250);
}