body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  background:rgba(27, 160, 153, 0.3);
}
::-webkit-scrollbar-thumb{
  background:rgba(139, 139, 248, 0.775);
}
::-webkit-scrollbar-thumb:hover{
  background:rgba(125, 125, 255, 0.775);
}

@supports (scrollbar-color: rgba(139, 139, 248, 0.775) rgba(27, 160, 153, 0.3)){
  *{
      scrollbar-color: rgba(139, 139, 248, 0.775) rgba(27, 160, 153, 0.3);
      scrollbar-width: thin;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
